@model SenseIt.Web.ViewModels.Admin.Product.AdminProductUpdateModel;

@{
    this.ViewData["Title"] = "Admin Dashboard";

    var categories = this.Model.Categories.Select(c => new SelectListItem(c, c));
    var genders = this.Model.Genders.Select(c => new SelectListItem(c, c));
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="pb-4 pt-5">
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group pb-5">
                    <span class="input-group-text text-dark border border-dark">Name</span>
                    <input type="text" asp-for="Name" class="form-control border border-dark">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="input-group pb-4">
                    <span class="input-group-text text-dark  border border-dark">Brand</span>
                    <input type="text" asp-for="Brand" class="form-control border border-dark">
                    <span asp-validation-for="Brand" class="text-danger"></span>
                </div>

                <div class="input-group pb-5">
                    <select asp-for="CategoryName" class="form-select border border-dark" asp-items="@categories">
                        <option disabled value="new">Select Category...</option>
                    </select>
                    <label class="input-group-text text-dark  border border-dark" for="@categories">Category</label>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>

                    <select asp-for="Gender" class="form-select text-dark border border-dark" asp-items="@genders">
                        <option disabled value="new">Select Gender...</option>
                    </select>
                    <label class="input-group-text text-dark border border-dark" for="@genders">Gender</label>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="input-group pb-5">
                    <span class="input-group-text text-dark  border border-dark">Image Ur</span>
                    <input type="text" asp-for="ImageUrl" class="form-control border border-dark">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="input-group pb-5">
                    <span class="input-group-text text-dark  border border-dark">$</span>
                    <input type="number" asp-for="Price" class="form-control border border-dark">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="input-group pb-5">
                    <span class="input-group-text text-dark  border border-dark">Description</span>
                    <textarea rows="4" asp-for="Description" class="form-control border border-dark"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="Edit Product" />
                    </div>
                    <div class="col-6">
                        <a asp-action="All" class="btn btn-dark form-control">Back to Products</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


