@using SenseIt.Web.ViewModels.Appointments;
@model IEnumerable<UserAppointmentsListViewModel>

@{
    this.ViewData["Title"] = "Appointments";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <style>
        .dots {
            height: 10px;
            width: 10px;
            background-color: green;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px
        }
    </style>
</head>
<body>
    <div class="row m-4">
        <div class="col-8">
            <h2 class="text-success text-end">Your Active Appointments</h2>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table">
            @foreach (var appointment in Model)
            {

                <tr>
                    <td>@appointment.StartDateFormated</td>
                    <td>
                        <i class="fas fa-angle-double-right text-success"></i><i class="fas fa-angle-double-right text-success"></i>
                    </td>
                    <td>@appointment.ServiceName</td>
                    <td>
                        <div class="d-flex flex-column"><span class="subheadings"><i class="dots"></i>@appointment.Status</span> </div>
                    </td>
                    <td><a class="btn btn-outline-info" asp-action="Details" asp-route-id="@appointment.Id"><i class="fas fa-info-circle"></i></a></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>





