@using SenseIt.Common;
@model SenseIt.Web.ViewModels.Cart.CartViewModel

@if (Model.Products.Count() == 0)
{
    <div class="justify-content-center pt-4">
        <h2 class="text-center">The Shopping Cart Is Empty</h2>
    </div>
}
else
{
    <form method="get">
        <div class="container mb-4">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col-2">Image</th>
                                    <th class="col-3">Product</th>
                                    <th class="col-1">Price/Item</th>
                                    <th class="col-2 text-center">Quantity</th>
                                    <th class="col-2 text-right">Price</th>
                                    <th class="col-2 text-right">Remove</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Products)
                                {
                                    <tr style="background-color: ActiveCaption">
                                        <td class="col-3"><img src=@item.ProductImageUrl class="img-thumbnail" style="width: 100px; height: 120px;" /> </td>
                                        <td class="col-3 text-dark">@item.ProductName</td>
                                        <td class="col-1 text-dark">$@item.ProductPrice.ToString("F2")</td>
                                        <td class="col-2 text-dark"><input class="form-control" disabled type="number" value="@item.Quantity" /></td>
                                        <td class="col-2 text-right text-dark">$@((item.Quantity * item.ProductPrice).ToString("F2"))</td>
                                        <td class="col-1 text-right"><a class="btn btn-outline-danger" asp-action="Remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt text-dark"></i> </a> </td>
                                    </tr>
                                }

                                <tr style="background-color: ActiveCaption">
                                    <td class="col-2"></td>
                                    <td class="col-3"></td>
                                    <td class="col-2 text-right text-dark"><button type="submit" style="width:150px;" class="btn btn-danger" asp-action="RemoveAll">Remove All</button></td>
                                    <td class="col-1"></td>
                                    <td class="col-2"></td>
                                    <td class="col-2"></td>
                                </tr>

                                @*<tr style="background-color: ActiveCaption">
                                    <td class="col-3"></td>
                                    <td class="col-3"></td>
                                    <td class="col-1"></td>
                                    <td class="col-2"></td>
                                    <td class="col-2">Sub-Total</td>
                                    <td class="text-right text-dark">
                                        $@Model.TotalSum
                                    </td>
                                </tr>
                                <tr style="background-color: ActiveCaption">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Shipping</td>
                                    <td class="text-right text-dark">$@GlobalConstants.ShippingFee</td>
                                </tr>
                                <tr style="background-color: ActiveCaption">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td class="text-right text-dark"><strong>$@((Model.TotalSum + GlobalConstants.ShippingFee).ToString("F2"))</strong></td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <button class="btn btn-block btn-outline-info" asp-controller="Store" asp-action="All">Continue Shopping</button>
                        </div>
                        <div class="col-sm-12 col-md-6 text-end">
                            <button class="btn btn-block btn-outline-success" asp-controller="Payments" asp-action="Checkout">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}


