@{
    this.ViewData["Title"] = "Admin Dashboard";
}
<div class="mt-3">
    <h2 class="text-capitalize text-center">Dashboard</h2>
</div>
<hr class="m-4" />
<div class="row">

    <div class="col" style="width: 200px">
        <div class="card mb-3">
            <h3 class="card-header text-center text-dark">Accounts</h3>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <img src="~/Images/Admin-Dashboard/User_Avatars-icon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Registered Accounts: </li>
                <li class="list-group-item">Admin Accounts: </li>
                <li class="list-group-item">Regular Accounts: </li>
                <li class="list-group-item">Locked Accounts: </li>
            </ul>
        </div>
    </div>

    <div class="col" style="width: 200px">
        <div class="card mb-3">
            <h3 class="card-header text-center text-dark">Services</h3>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <img src="~/Images/Admin-Dashboard/Services-icon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Application Services: </li>
                <li class="list-group-item">Available Services: </li>
                <li class="list-group-item">Deleted Services: </li>
            </ul>
        </div>
    </div>
    @*<div class="col" style="width: 200px">
            <div class="card">
                <img src="~/Images/Admin-Dashboard/Products-icon.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>*@
    <div class="col" style="width: 200px">
        <div class="card mb-3">
            <h3 class="card-header text-center text-dark">Products</h3>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <img src="~/Images/Admin-Dashboard/Products-icon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">All Distinct Products: </li>
                <li class="list-group-item">Available Products: </li>
                <li class="list-group-item">Deleted Products: </li>
                <li class="list-group-item">Total Instock Products: </li>
            </ul>
        </div>
    </div>
    <div class="col" style="width: 200px">
        <div class="card mb-3">
            <h3 class="card-header">Card header</h3>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <img src="~/Images/Admin-Dashboard/Products-icon.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>    
