@using SenseIt.Common
@{
    this.ViewData["Title"] = GlobalConstants.SystemName;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @this.ViewData["Title"]</h1>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://static.wixstatic.com/media/aa1ac8_e52650b6bf4649df8b1a89fff213eb04~mv2.jpg/v1/fill/w_750,h_518,al_c,q_90/Body%20care_%20Spa%20body%20massage%20woman%20hands%20.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://image.freepik.com/free-photo/massage-with-chocolate-spa-beautiful-girl_355000-276.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/eyebrow-threading-1560851198.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
