<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="appointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal title">Add Appointment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="fullName">Full Name</label>
                        <input type="text" class="form-control" id="fullName" />
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" />
                    </div>
                    <div class="form-group">
                        <label for="additionalNotes">Additional Notes</label>
                        <textarea type="text" class="form-control" id="additionalNotes "></textarea>
                    </div>
                    <div class="form-group">
                        <label for="startDate">Start Date Time</label>
                        <input class="form-control" id="startDate"/>
                    </div>

                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSubmit" class="btn btn-outline-success" onclick="onSubmitForm();">Submit</button> &nbsp;
                    <button type="button" class="btn btn-outline-secondary" onclick="onCloseModal();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
