@model SenseIt.Web.ViewModels.Products.ProductInListViewModel

<div class="col-md-4">
    <div class="card mb-4 product-wap rounded-0">
        <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" style="height: 300px" src=@Model.ImageUrl>
            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <ul class="list-unstyled">
                    @*<li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>*@
                    <li><a class="btn btn-success text-white mt-2" asp-action="Details" asp-route-id="@Model.Id"><i class="far fa-eye"></i></a></li>


                    <li><a class="btn btn-info text-white mt-2" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id"><i class="fas fa-cart-arrow-down"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="card-body" style="height: 150px">
            <p class="text-center h3 text-decoration-none">@Model.ShortName</p>
            <div class="row">
                <p class="col-6 text-center mb-0">$@Model.Price.ToString("F2")</p>
                <p class="col-6 text-center mb-0">$@Model.Gender</p>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="quantityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Quantity</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="quantity-form" asp-action="AddToCart">
                        <div class="mb-3">
                            <label for="quantity"  class="col-form-label">Quantity:</label>
                            <input type="number" min="1" name="quantity" class="form-control" id="quantity">
                        </div>
                        <input type="hidden" name="id" value=@Model.Id />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="quantity-form" asp-action="AddToCart">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>*@
