@using SenseIt.Common
@using SenseIt.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {  
        <li class="nav-item me-5">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @this.User.Identity.Name!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.Role.AdministratorRoleName))
        {
            @*<li class="nav-item">
                    <a class="nav-link text-info btn btn-outline-light" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Content Management</a>
                </li>*@
            <li class="nav-item dropdown me-5">
                <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Content Management
                </a>
                <ul class="dropdown-menu mt-2" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Products" asp-action="Index">Products</a></li>
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Services" asp-action="Index">Services</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a></li>
                </ul>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
