@model SenseIt.Services.Data.Admin.Models.Categories.CategoryEditModel;

<div class="mb-4">
    <h2 class="text-center">Name</h2>
</div>

<form method="post" class="form-control border-light">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group mb-3">
        <input type="text" placeholder="Name" aria-label="Name" class="form-control" asp-for="Name">
        <button class="btn btn-outline-success" type="submit" id="button-addon2">Submit</button>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
</form>