@model SenseIt.Web.ViewModels.Admin.Categories.AppServiceCategory.AppServiceCategoryAddEditModel;

@{
    this.ViewData["Title"] = "Admin dashboard";
}
<h2 class="text-center mt-3">Edit Category</h2>
<div class="mb-4">
    <hr />
</div>

<form method="post" enctype="multipart/form-data" class="form-control border-light">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-group mb-3">
        <input type="text" placeholder="Name" aria-label="Name" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="input-group mb-3">
        <textarea type="text" rows="4" placeholder="Description" aria-label="Description" class="form-control" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="input-group pb-4">
        <span class="input-group-text text-dark border border-dark">Image</span>
        <input type="file" name="files" multiple id="uploadBox" class="form-control border border-dark">
        <label class="custom-file-label" for="files">Choose file</label>
    </div>

    <button class="btn btn-outline-success" type="submit" id="button-addon2">Submit</button>

</form>

@section Scripts{
    <script src="~/js/sweetallert/sweet-allert-validation.js"></script>
}