<div class="card" style="width: 18rem;">
    <img src="{0}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dear {1}</h5>
        <p class="card-text">You have booked appointment at Sense It beauty studio for one of our services.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Person Name: </strong>{2}</li>
        <li class="list-group-item"><strong>Service: </strong>{3}</li>
        <li class="list-group-item"><strong>Duration: </strong>{4}</li>
        <li class="list-group-item"><strong>Date and Time: </strong>{5}</li>
    </ul>

</div>