@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="row pt-4">
    <div class="col d-flex justify-content-center">
        <hr />
        <div class="card" style="width: 38rem;">
            <img src="~/Images/Services/Admin-Services.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <h3 class="card-text text-center p-3">Add, Edit And Delete Services.</h3>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-lg btn-primary" asp-area="Administration" asp-controller="Services" asp-action="All">Manage</a>
                </div>
            </div>
        </div>
    </div>
</div>
