@model SenseIt.Web.ViewModels.AppServices.AppServiceWithReviewsModel

@{
    this.ViewData["Title"] = "Sense It";
}

<div>

    <partial name="_IndividualAppServiceCard" model="@Model" />
    <div class="row">
        @foreach (var review in Model.Reviews)
        {
            <div id="reviewBox">
                <figure>
                    <figcaption class="blockquote-footer text-end">
                        <i class="list-inline-item text-info fas fa-user-edit"><span class="text-secondary"> @review.PostedBy</span></i>
                        <i class="far fa-calendar-alt"><span class="text-secondary"> @review.PostedOn</span></i>

                        @for (int i = 0; i < review.Rating; i++)
                        {
                            <i class="text-warning fas fa-star"></i>
                        }

                        @for (int i = review.Rating; i < 5; i++)
                        {
                            <i class="far fa-star"></i>
                        }


                    </figcaption>

                    <blockquote class="blockquote">
                        <p>@Html.Raw(review.Content)</p>
                    </blockquote>
                </figure>
            </div>
        }
    </div>

</div>

<style>
    #reviewBox {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 16px 0;
        word-wrap: break-word;
    }
</style>
