@model SenseIt.Web.ViewModels.Admin.Users.AddUserToRolePostModel;
@using SenseIt.Data.Models
@using Microsoft.AspNetCore.Identity
@inject RoleManager<ApplicationRole> roleManager;
@{
    this.ViewData["Title"] = "Admin dashboard";

    var roles = this.roleManager.Roles.Select(r => r.Name).ToList();
}

<div class="pt-3">
    <h2 class="text-center">Manage Roles</h2>
</div>
<hr />

<form class="form-control border-light" method="post">
    <div class="row pt-3">
        <div class="input-group pb-5">
            <select class="form-select" asp-for="Role">
                <option selected>Choose...</option>
                @foreach (var role in roles)
                {
                    <option>@role</option>
                }
            </select>
            <label class="input-group-text" for="inputGroupSelect02">Role</label>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" asp-area="Administration" asp-controller="Users" asp-action="AddToRole" class="btn btn-lg btn-primary form-control" value="Add To Role" />
            </div>    
        </div>
    </div>
</form>
