@model SenseIt.Web.ViewModels.AppServices.AllAppServicesVIewModel

@{
    this.ViewData["Title"] = "Sense It";
}

<title>@this.ViewData["Title"]</title>

@foreach (var appService in Model.AppServices)
{
    <partial name="_IndividualAppServiceCard" model="appService" />
}

